<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-custom mb-5">
    <div class="container">
      <a href="/restaurants" class="navbar-brand">Restaurants</a>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/restaurants/new">Add a new restaurant</a></li>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
